.bio-hero {
  width: 100%;
}
.bio-hero__imgWrapper {
  position: relative;
}
.bio-hero__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 3/4;
}
.bio-hero__titulo {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
  font-size: clamp(1.5rem, 3vh, 6rem);
  margin: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* .bio-section::after {

  background: linear-gradient(to top, #050505, transparent);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
} */

.bio-container {
}

.bio-img {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 4/3;
}
.bio-img-wrapper {
  position: relative;
}
.bio-img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-candlelight-peach);
  opacity: 0.2;
  mix-blend-mode: multiply;
}
.bio-img-wrapper--maestros::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0.18;
  mix-blend-mode: color-burn;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23n)'/></svg>");
}
.bio-img--docencia {
  mask-image: linear-gradient(to top, black 70%, transparent 100%);
}
.bio-text {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  line-height: var(--line-height-general-text);
  font-size: clamp(1rem, 0.875rem + 1vw, 1.125rem);
  padding: 3rem 2rem;
  text-align: justify;
}
.bio-img.bio-img--maestros {
  aspect-ratio: 3/4;
}

@media (min-width: 768px) {
  .bio-hero__titulo {
    bottom: 10rem;
    left: 3rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  /* Desktop */
}
