.bio-hero {
  width: 100%;
  position: relative;
}
.bio-hero__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 3/4;
}

.titulo_seccion {
  position: absolute;
  left: 2rem;
  bottom: 25rem;
}
.bio-img {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 4/3;
}
.bio-img-wrapper {
  position: relative;
}

.bio-img--maestros {
  object-fit: contain;
}
.bio-text-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio-text {
  /*   font-family: "Inter", sans-serif; */
  font-family: "Abel";
  line-height: var(--line-height-general-text);
  font-size: var(--fs-p);
  padding: 3rem 2rem;
}

@media (min-width: 768px) {
  .titulo_seccion {
    position: absolute;
    left: 4rem;
    bottom: 30rem;
  }
}

@media (min-width: 1024px) {
  .bio-hero__img {
    /*   aspect-ratio: 4/3; */
  }
  .bio-section--hero {
    display: flex;
    flex-direction: row;
  }

  .bio-section > * {
    flex: 1 1 50%;
  }
  .titulo_seccion {
    position: absolute;
    left: 38rem;
    top: 6rem;
    color: white;
  }
  .titulo_seccion::before,
  .titulo_seccion::after {
    background-color: white;
  }
  .bio-img-wrapper {
    display: flex;
  }
  .bio-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .bio-section.bio-section--trayectoria,
  .bio-section--docencia,
  .bio-section--hero {
    flex-direction: row;
  }
  .bio-text-col {
    background-color: var(--color-worn-silver);
  }
  .bio-text {
    background-color: var(--color-dreamy-barbie);
    line-height: 40px;
    border-radius: 4px;
    max-width: 30rem;
    /*     background-color: var(--color-worn-silver); */
    color: black;
  }
}
@media (min-width: 1440px) {
  .bio-hero__img {
    object-position: center 25%;
  }
  .titulo_seccion {
    position: absolute;
    left: 4rem;
    bottom: 30rem;
  }
  .titulo_seccion {
    left: 68rem;
    top: 6rem;
  }
}
