/*scroll-top-btn*/
#scrollTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  color: white;
  opacity: 0;
  transform: translateY(calc(100% + 2rem));
  transition:
    opacity 0.3s ease,
    transform 0.3s ease-in-out;
  font-size: var(--font-size-menu-link);
}
#scrollTopBtn.active {
  opacity: 1;
  transform: translateY(0);
}
#scrollTopBtn:hover {
  transform: scale(1.15);
  color: var(--color-candlelight-peach);
}

/*mas info btn*/
.mas-info-btn {
  color: white;
  border: solid 2px white;
  width: 8rem;
}
.parrafo {
  display: none;
}
.show {
  display: block;
}

/*layout para grid con cards*/
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 26rem));
  justify-content: center;
  gap: 4rem;
  margin: 2rem;
}
/* ===== BOTONES: BASE ===== */
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-family: "Abel";
  font-size: var(--fs-p-a);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  will-change: transform;
  text-align: center;
}

.btn:hover {
  transform: scale(var(--btn-scale-hover));
}

.btn:active {
  transform: scale(var(--btn-scale-active));
}

/* ===== BOTONES: VARIANTES ===== */
.btn--light {
  color: black;
  background-color: rgba(255, 255, 255, 0.945);
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.301),
    0 0 10px rgba(255, 255, 255, 0.37);
}

.btn--light:hover,
.btn--light:active {
  background-color: white;
}

.btn--outline {
  color: white;
  background-color: transparent;
  border: solid 2px white;
}

.btn--danger {
  color: white;
  background-color: #dc0046;
}

.btn--danger:hover {
  background-color: #ff0d5a;
}
