.shows__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 0 2rem 0 2rem;
  align-items: start;
}

.shows__card {
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0px 8px rgba(255, 255, 255, 0.253);
}

.shows__imgWrapper {
  position: relative;
}
.shows__titulo {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  padding: 0.8rem;
  margin: 0;
  text-align: center;
  font-family: "Amatic SC";
}

.shows__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 30rem;
}
.shows__funcionDatos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 0;
}
.shows__info {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2rem;
  box-sizing: border-box;
}

.shows__descCorta {
  text-align: left;
  font-family: "Inter", sans-serif;
  color: white;
}
.shows__obraRelacionada {
  font-size: clamp(1.4rem, 2vw, 2rem);
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  color: var(--color-worn-silver);
  font-family: "Amatic SC";
}
.shows__obraRelacionada:hover {
  color: var(--color-candlelight-peach);
}
.shows__obraRelacionada:active {
  color: var(--color-candlelight-peach);
}
.shows__artistas {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: white;
}
.shows__datosArtista {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.8rem;
  color: white;
}
.shows__datosArtista p {
  font-family: "Inter", sans-serif;
  color: white;
}
.shows__rol {
  font-weight: 400;
}

.shows__fecha,
.shows__dia,
.shows__horario {
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;

  text-align: center;
}
.shows__contacto {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: end;
  color: white;
}
.shows__espacio,
.shows__tel,
.shows__link,
.shows__ubicacion {
  color: white;
  font-family: "Inter", sans-serif;
  text-align: start;
}

.shows__localidadesAgotadas {
  color: red;
  text-align: center;
  font-family: "Amatic SC";
}

@media (min-width: 768px) {
  .shows__card {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .shows__card {
    flex-direction: column;
  }
  .shows__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0rem 10rem;
    align-items: start;
  }

  .shows__localidadesAgotadas {
    font-size: var(--fs-h4);
    letter-spacing: 3px;
  }
}

@media (min-width: 1440px) {
  .shows__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0rem 20rem;
  }
}
