:root {
  /* === COLOR PALETTE === */
  --color-black: #000000;
  --color-rosy-brown: #b8807d;
  --color-worn-silver: #d1bebb;
  --color-dreamy-barbie: #f7e9e9;
  --color-hot-flamingo: #a85565;
  --color-velvet-wine: #9a3f55;
  --color-planet-of-the-apes: #8b2f45;
  --color-black-metal: #050505;
  --color-carbon-fiber: #2f2f2f;
  --color-candlelight-peach: #ffe6ce;
  --color-candlelight-peach-rgb: 255, 230, 206;

  /*=== TAMAÑO BANNER===*/
  --banner-h-mobile: 16rem;
  --banner-h-tablet: 20rem;
  --banner-h-laptop: 25rem;
  --banner-h-desktop: 30rem;

  /* === TRANSITIONS === */
  --transition-base: 0.3s ease-in-out; /* hovers, micro-interacciones */
  --transition-slow: 700ms ease; /* movimientos grandes: menu slide-in/out */

  /* === FONT-FAMILY===*/
  --font-family-h1: "Abel";
  --font-family-h2: "Abel";

  /*typography: LINE-HIGHT*/
  --line-height-general-text: 1.8rem;

  /* === TYPE SCALE (clamp: min, preferred, max) === */
  --fs-p: clamp(0.8rem, 0.95rem + 0.25vw, 1.2rem);
  --fs-p-a: clamp(1rem, 1.1rem + 0.4vw, 1.3rem);
  --fs-h4: clamp(1.25rem, 1.1rem + 0.6vw, 1.75rem);
  --fs-h3: clamp(1.5rem, 1.25rem + 1vw, 2.25rem);
  --fs-h2: clamp(2rem, 1.5rem + 2vw, 3rem);
  --fs-h1: clamp(2rem, 1.2rem + 2.3vw, 4rem);

  --font-size-icon: clamp(1.6rem, 4vw, 2.5rem); /* iconos hamburguesa/cierre */
  --font-size-menu-link: clamp(1rem, 3vh, 6rem); /* links del menú mobile */

  /*BUTTON STYLES*/

  --btn-padding: 0.4rem;
  --btn-transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  --btn-scale-hover: 1.03;
  --btn-scale-active: 0.97;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel";
}
body {
  background-color: var(--color-black-metal);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: var(--fs-h1);
  color: white;
  font-family: var(--font-family-h1);
}
h2 {
  font-size: var(--fs-h2);
  color: white;
  font-family: var(--font-family-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
p {
  font-size: var(--fs-p);
  color: white;
  font-weight: 200;
  text-align: left;
}

@keyframes deslizar-desde-derecha {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.titulo_seccion {
  font-size: var(--fs-h3);
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  color: var(--color-worn-silver);
  text-align: center;
  font-weight: 100;
}

.titulo_seccion::before,
.titulo_seccion::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(0.3rem, 0.4rem + 0.25vw, 1rem);
  height: clamp(0.3rem, 0.4rem + 0.25vw, 1rem);
  background-color: var(--color-worn-silver);
  border-radius: 50%;
}

.titulo_seccion::before {
  left: -0.2rem;
}
.titulo_seccion::after {
  right: -0.2rem;
}
