<nav class="nav">
  <h1><a href="/index.html">NATALIA RIOPEDRE</a></h1>
  <button class="hbg-btn">
    <ion-icon
      name="menu-outline"
      md="menu-sharp"
      class="menu-outline"
    ></ion-icon>
  </button>
</nav>
<div class="nav-menu">
  <button class="close-btn">
    <ion-icon
      name="close-outline"
      md="close-sharp"
      class="close-outline"
    ></ion-icon>
  </button>
  <ul class="menu-list">
    <li><a href="/index.html" href="#">HOME</a></li>
    <li><a href="/bio.html" href="#">BIO</a></li>
    <li><a href="/obra.html" href="#">OBRAS</a></li>
    <li><a href="/clases.html" href="#">CLASES</a></li>
    <li><a href="/shows.html" href="#">SHOWS EN CARTEL</a></li>
    <li><a href="/contacto.html" href="#">CONTACTO</a></li>
  </ul>
</div>
