<div id="nav-wrapper" class="nav-container--fixed">
  <nav id="nav-container">
    <h1><a href="/index.html">NATALIA RIOPEDRE</a></h1>
    <button class="hbg-btn" aria-label="Abrir menú">
      <ion-icon
        name="menu-outline"
        md="menu-sharp"
        class="menu-outline"
      ></ion-icon>
    </button>
  </nav>

  <div class="nav-menu">
    <button class="close-btn" aria-label="Cerrar menú">
      <ion-icon
        name="close-outline"
        md="close-sharp"
        class="close-outline"
      ></ion-icon>
    </button>
    <ul class="menu-list">
      <li><a href="/index.html">HOME</a></li>
      <li><a href="/bio.html">BIO</a></li>
      <li><a href="/obra.html">OBRAS</a></li>
      <li><a href="/clases.html">CLASES</a></li>
      <li><a href="/shows.html">SHOWS EN CARTEL</a></li>
      <li><a href="/contacto.html">CONTACTO</a></li>
    </ul>
  </div>
</div>
